{% extends 'layout.html' %}

{% block title %}
    <title>Ajouter une collecte</title>
{% endblock %}

{% block body %}
    <h3>Ajouter une collecte</h3>
    <br><br>
    <form method="post" action="/collecte/add">
        <div class="input">
            <label for="IdTypeVetement">Rang</label>
            <select id="IdTypeVetement" name="IdTypeVetement">
                <option value="">Choisissez un type de vêtement</option>
                {% for typeVetement in typeVetements %}
                    <option value="{{ typeVetement['IdTypeVetement'] }}">{{ typeVetement.LibelleTypeVetement }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input">
            <label for="IdBenne">Rang</label>
            <select id="IdBenne" name="IdBenne">
                <option value="">Choisissez une benne</option>
                {% for benne in bennes %}
                    <option value="{{ benne['IdBenne'] }}">{{ benne.Adresse }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input">
            <label for="JJ_MM_AAAA">JJ_MM_AAAA</label>
            <input type="date" id="JJ_MM_AAAA" name="JJ_MM_AAAA">
        </div>
        <div class="input">
            <label for="Quantite_Collectee">Quantite_Collectee</label>
            <input type="number" id="Quantite_Collectee" name="Quantite_Collectee">
        </div>
        <button type="submit">Modifier</button>
    </form>
{% endblock %}
