{% extends 'layout.html' %}

{% block title %}
    <title>Modifier une collecte</title>
{% endblock %}

{% block body %}
    <h3>Modifier une collecte</h3>
    <br><br>
    <form method="post" action="/collecte/edit">
        <input type="hidden" name="IdTypeVetement" value="{{collecte.IdTypeVetement}}">
        <input type="hidden" name="IdBenne" value="{{collecte.IdBenne}}">
        <input type="hidden" name="JJ_MM_AAAA" value="{{collecte.JJ_MM_AAAA}}">
        <div class="input">
            <label for="Quantite_Collectee">Quantite_Collectee</label>
            <input type="number" id="Quantite_Collectee" name="Quantite_Collectee" value="{{collecte.Quantite_Collectee}}">
        </div>
        <button type="submit">Modifier</button>
    </form>
{% endblock %}
