{% extends 'layout.html' %}

{% block title %}
    <title>Afficher les collectes</title>
{% endblock %}

{% block body %}
<h3>Collectes</h3>
<a class="button-add" href="/collecte/add">Ajouter collecte</a>
<br><br>

<table class="table">
    <thead>
        <tr>
            <th>TypeVetement</th><th>Benne</th><th>JJ_MM_AAAA</th><th>Quantite_Collectee</th><th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% if collectes | length >= 1 %}
        {% for collecte in collectes %}
           <tr>
               <td>{{ typeVetement[collecte.IdTypeVetement-1]['LibelleTypeVetement']}} (IdTypeVetement={{collecte.IdTypeVetement}})</td>
               <td>{{ benne[collecte.IdBenne-1]['Adresse']}} (IdBenne={{collecte.IdBenne}})</td>
               <td>{{ collecte.JJ_MM_AAAA }}</td>
               <td>{{ collecte.Quantite_Collectee }}g</td>
               <td>
                      <a href="/collecte/edit?IdTypeVetement={{ collecte.IdTypeVetement }}&IdBenne={{ collecte.IdBenne }}&JJ_MM_AAAA={{ collecte.JJ_MM_AAAA }}" class="btn btn-primary btn-sm">Éditer</a>&nbsp;
                      <a href="/collecte/delete?IdTypeVetement={{ collecte.IdTypeVetement }}&IdBenne={{ collecte.IdBenne }}&JJ_MM_AAAA={{ collecte.JJ_MM_AAAA }}" class="btn btn-danger btn-sm">Supprimer</a>
               </td>
           </tr>
        {% endfor %}
    {% else %}
            <tr>
                  <td>
                      pas de collectes
                  </td>
           </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}