{% extends 'layout.html' %}

{% block title %}
    <title>Modifier un client</title>
{% endblock %}

{% block body %}
    <h3>Modifier un client</h3>
    <br><br>
    <form method="post">
        <div class="input">
            <label for="Nom">Nom</label>
            <input type="text" class="form-control" id="Nom" name="Nom">
        </div>
        <div class="input">
            <label for="Prenom">Prénom</label>
            <input type="text" class="form-control" id="Prenom" name="Prenom">
        </div>
        <div class="input">
            <label for="AdresseMail">Adresse mail</label>
            <input type="email" class="form-control" id="AdresseMail" name="AdresseMail">
        </div>
        <div class="input">
            <label for="Telephone">Téléphone</label>
            <input type="text" class="form-control" id="Telephone" name="Telephone">
        </div>
        <div class="input">
            <label for="rang">Rang</label>
            <select id="rang" name="rang">
                {% for rang in rangs %}
                    <option value="{{ rang['IdRang'] }}">{{ rang.LibelleRang }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit">Modifier</button>
    </form>
{% endblock %}
