{% extends 'layout.html' %}

{% block title %}
    <title>Modifier un client</title>
{% endblock %}

{% block body %}
    <h3>Modifier un client</h3>
    <br><br>
    <form method="post" action="/client/edit">
        <input type="hidden" name="IdClient" value="{{ client.IdClient }}" required>
        <div class="input">
            <label for="Nom">Nom</label>
            <input type="text"  id="Nom" name="Nom" value="{{ client.Nom }}" required>
        </div>
        <div class="input">
            <label for="Prenom">Prénom</label>
            <input type="text"  id="Prenom" name="Prenom" value="{{ client.Prenom }}" required>
        </div>
        <div class="input">
            <label for="AdresseMail">Adresse mail</label>
            <input type="email"  id="AdresseMail" name="AdresseMail" value="{{ client.AdresseMail }}" required>
        </div>
        <div class="input">
            <label for="Telephone">Téléphone</label>
            <input type="text"  id="Telephone" name="Telephone" value="{{ client.Telephone }}" required>
        </div>
        <div class="input">
            <label for="IdRang">Rang</label>
            <select id="IdRang" name="IdRang" required>
                {% for rang in rangs %}
                    <option value="{{ rang['IdRang'] }}" {% if rang['IdRang'] == client.IdRang %} selected {% endif %}>{{ rang.LibelleRang }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit">Modifier</button>
    </form>
{% endblock %}
