{% extends 'layout.html' %}

{% block title %}
    <title>Afficher les clients</title>
{% endblock %}

{% block body %}
<div class="container">
    <h3>Clients</h3>
    <a class="btn btn-dark" href="/client/add">Ajouter client</a>
    <br><br>
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>IdClient</th><th>Nom</th><th>Prénom</th><th>AdresseMail</th><th>Téléphone</th><th>Rang</th><th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% if clients | length >= 1 %}
            {% for client in clients %}
               <tr>
                   <td>{{ client.IdClient }}</td>
                   <td>{{ client.Nom }}</td>
                   <td>{{ client.Prenom }}</td>
                   <td>{{ client.AdresseMail }}</td>
                   <td>{{ client.Telephone }}</td>
                   <td>{{ rang[client.IdRang]}} (IdRang={{client.IdRang}})</td>
                   <td>
                          <a href="/client/edit?id={{ client.IdClient }}">editer</a>&nbsp;
                          <a href="/client/delete?id={{ client.IdClient }}" >supprimer</a>
                   </td>
               </tr>
            {% endfor %}
        {% else %}
                <tr>
                      <td>
                          pas de clients
                      </td>
               </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}