{% extends 'layout.html' %}
{% block title %}
    <title>Ajouter une réduction</title>
{% endblock %}
{% block body %}
<div class="container">
    <h3>Ajouter une réduction</h3>
    <br><br>
    <form method="post" action="/reduction/add">
        <div class="mb-3">
            <div class="input">
                <label for="IdRang" class="form-label">Rang</label>
                <select id="IdRang" class="form-select" name="IdRang" required>
                    <option value="">Choisissez un rang</option>
                    {% for rang in rangs %}
                        <option value="{{ rang.IdRang }}">{{ rang.LibelleRang }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="mb-3">
            <div class="input">
                <label for="IdTypeVetement" class="form-label">Type de vêtement</label>
                <select id="IdTypeVetement" class="form-select" name="IdTypeVetement" required>
                    <option value="">Choisissez un type de vêtement</option>
                    {% for typeVetement in typeVetements %}
                        <option value="{{ typeVetement.IdTypeVetement }}">{{ typeVetement.LibelleTypeVetement }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="mb-3">
            <div class="input">
                <label for="PourcentageReduction" class="form-label">Pourcentage de réduction</label>
                <input type="number" id="PourcentageReduction" class="form-control" name="PourcentageReduction" placeholder="Choisir un pourcentage de réduction" required>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Ajouter</button>
    </form>
</div>
{% endblock %}