{% extends 'layout.html' %}

    {% block title %}
        <title>Modifier une réduction</title>
    {% endblock %}

    {% block body %}
        <h3>Modifier une réduction</h3>
        <br><br>
        <form method="post">
            <div class="input">
                <input type="hidden" name="IdRang" value="{{reduction.IdRang}}">
                <input type="hidden" name="IdTypeVetement" value="{{reduction.IdTypeVetement}}">
                <label for="PourcentageReduction">Pourcentage de réduction</label>
                <input type="number" id="PourcentageReduction" name="PourcentageReduction" value="{{reduction.PourcentageReduction}}">
            </div>
            <button type="submit">Modifier</button>
        </form>
    {% endblock %}