<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Frip'Kil</a>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <!-- Menu Clients -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="clientsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Clients (Noa)
            </a>
            <ul class="dropdown-menu" aria-labelledby="clientsDropdown">
              <li><a class="dropdown-item" href="/client/show">Afficher les clients</a></li>
            </ul>
          </li>
          <!-- Menu Achats -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="achatsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Achats (Johan)
            </a>
            <ul class="dropdown-menu" aria-labelledby="achatsDropdown">
              <li><a class="dropdown-item" href="/achat/show">Afficher les achats</a></li>
            </ul>
          </li>
          <!-- Menu Réductions -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="reductionsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Réductions (Lïam)
            </a>
            <ul class="dropdown-menu" aria-labelledby="reductionsDropdown">
              <li><a class="dropdown-item" href="/reduction/show">Afficher les réductions</a></li>
            </ul>
          </li>
          <!-- Menu Collectes -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="collectesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Collectes (Benjamin)
            </a>
            <ul class="dropdown-menu" aria-labelledby="collectesDropdown">
              <li><a class="dropdown-item" href="/collecte/show">Afficher les collectes</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  