<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %}
        <title>layout</title>
    {% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}" >
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.3-dist/css/bootstrap.css') }}" >
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.3-dist/css/style.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
    {% endblock %}
</head>
<body>
{% include('_nav.html') %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for categorie, message in messages %}
    <div role="alert" class="alert {{ categorie }}">
           Information : <strong>{{ message }}</strong>
    </div>
    {% endfor %}
{% endif %}
{% endwith %}
{% block body %}
    <h2>layout.html</h2>
{% endblock %}

</body>
{% block scripts %}
    <script src="{{ url_for('static', filename='bootstrap-5.3.3-dist/js/bootstrap.js') }}"></script>
{% endblock %}
</html>