{% extends 'layout.html' %}

{% block title %}
    <title>Ajouter un achat</title>
{% endblock %}

{% block body %}
    <h3>Ajouter un achat</h3>
    <br><br>
    <form method="post" action="/achat/add">
        <div class="input">
            <label for="Nom">Nom</label>
            <input type="text" class="form-control" id="Nom" name="Nom">
        </div>
        <div class="input">
            <label for="Prenom">Prénom</label>
            <input type="text" class="form-control" id="Prenom" name="Prenom">
        </div>
        <div class="input">
            <label for="IdTypeVetement">Rang</label>
            <select id="IdTypeVetement" name="IdTypeVetement">
                <option value="">Choisissez un type de vêtement</option>
                {% for typeVetement in typeVetements %}
                    <option value="{{ achat['IdTypeVetement'] }}">{{ achat.TypeVetement }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input">
            <label for="JJ_MM_AAAA">JJ_MM_AAAA</label>
            <input type="date" id="JJ_MM_AAAA" name="JJ_MM_AAAA">
        </div>
        <div class="input">
            <label for="Quantite_Achetee">Quantite_Achetee</label>
            <input type="number" id="Quantite_Achetee" name="Quantite_Achetee">
        </div>
        <button type="submit">Modifier</button>
    </form>
{% endblock %}
