{% extends "layout.html" %}

{% block body %}
<div class="container">
<h1>Rechercher des Achats</h1>
<form method="get" action="/achat/search"class="row g-3">
    <div class="col-md-4">
    <label for="IdClient">Client :</label>
    <select name="IdClient" id="IdClient">
        <option value="">Tous</option>
        {% for client in clients %}
        <option value="{{ client.IdClient }}">{{ client.Nom }} {{ client.Prenom }}</option>
        {% endfor %}
    </select>
        <div/>
    <br>
        <div class="col-md-4">
    <label for="IdTypeVetement">Type de Vêtement :</label>
    <select id="IdTypeVetement" name="IdTypeVetement">
                <option value="">Choisissez un type de vêtement</option>
                {% for typeVetement in typeVetements %}
                    <option value="{{ achat['IdTypeVetement'] }}">{{ achat.TypeVetement }}</option>
                {% endfor %}
            </select>

    <br>

    <label for="JJ_MM_AAAA">Date :</label>
    <input type="date" name="JJ_MM_AAAA" id="JJ_MM_AAAA">
    <br>
    <label for="Quantite_Achetee_Min">Quantité Min :</label>
    <input type="number" name="Quantite_Achetee_Min" id="Quantite_Achetee_Min">
    <br>
    <label for="Quantite_Achetee_Max">Quantité Max :</label>
    <input type="number" name="Quantite_Achetee_Max" id="Quantite_Achetee_Max">
    <br>
            </div>
            <div class="col-12">
    <button type="submit">Rechercher</button>
            <div/>

</form>
<br>
<h2>Résultats</h2>
<table class="table table-hover">
        <thead class="table-light">
        <tr>
            <th>Client</th>
            <th>TypeVetement</th>
            <th>JJ_MM_AAAA</th>
            <th>Quantite_Achetee</th>
        </tr>
    </thead>
    <tbody>
        {% for achat in achats %}
        <tr>
            <td>{{ achat.IdClient }}</td>
            <td>{{ achat.IdTypeVetement }}</td>
            <td>{{ achat.JJ_MM_AAAA }}</td>
            <td>{{ achat.Quantite_Achetee }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div/>
{% endblock %}