{% extends 'layout.html' %}

{% block title %}
    <title>Afficher les achats faits</title>
{% endblock %}

{% block body %}
<h3>Achats</h3>
<br>
<a href="/achat/add" class="btn btn-success mb-3">Ajouter un achat</a>

<table class="table table-bordered table-striped">
            <thead class="table-dark">
        <tr>
            <th>IdClient</th><th>IdTypeVetement</th><th>JJ_MM_AAAA</th><th>Quantite_Achetee</th>
        </tr>
    </thead>
    <tbody>
    {% if achats | length >= 1 %}
        {% for achat in achats %}
            <tr>
                <td>{{ achat.IdClient }}</td>
                <td>{{ achat.IdTypeVetement }}</td>
                <td>{{ achat.JJ_MM_AAAA }}</td>
                <td>{{ achat.Quantite_Achetee }}</td>

                <td>
                        <a href="/achat/edit?id={{ achat.IdClient }}" class="btn btn-primary btn-sm">editer</a>&nbsp;
                        <a href="/achat/delete?id={{ achat.IdClient }}" class="btn btn-danger btn-sm">supprimer</a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
            <tr>
                    <td>
                    pas d'achat
                    </td>
            </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}

